@import '../../node_modules/bulma/sass/utilities/mixins.sass';

body {
	overflow: hidden !important;
	width: 100vw;
	height: 100vh;
	background-color: black;
	background-position: center;
	background-size: cover;
}
.main {
	@include mobile {
		height: 100vh;
	}
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}
.main > div > .is-flex {
	@include mobile {
		height: unset;
	}
	height: 100vh;
	flex-shrink: 0;
	flex-wrap: wrap;
	align-content: center;
}
.c1-flex {
	@include mobile {
		position: relative;
		flex-wrap: wrap;
		align-content: end;
		justify-content: center;
	}
	justify-content: right;
}
.c3-flex {
	@include mobile {
		flex-wrap: wrap;
		align-content: start;
		justify-content: center;
	}
}
.c2 {
	justify-content: center;
}
.c1 {
	margin-right: 1rem !important;
	perspective-origin: right;
	@include mobile {
		position: relative;
		margin-right: 0 !important;
		margin-bottom: -2rem !important;
		transform: perspective(5rem) rotateX(-4deg);
		transform-origin: bottom;
	}
	transform: perspective(7.5rem) rotateY(5.5deg);
	transform-origin: right;
}
.c3 {
	margin-left: 1rem !important;
	perspective-origin: left;
	@include mobile {
		position: relative;
		margin-top: -2rem !important;
		margin-left: 0 !important;
		transform: perspective(5rem) rotateX(4deg);
		transform-origin: top;
	}
	transform: perspective(7.5rem) rotateY(-5.5deg);
	transform-origin: left;
}
.corner-left {
	@include mobile {
		top: 0.5rem;
		left: 0.8rem;
		height: fit-content;
		pointer-events: none;
	}
	position: absolute;
	bottom: 0.5rem;
	left: 0.8rem;
	padding-left: 0.5em !important;
	border-left: solid 0.1em rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	filter: opacity(0.75);
	font-family: 'IBM Plex Sans';
	font-family: 'IBM Plex Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	transition: all 0.25s ease-in-out;
}
.corner-left:hover {
	filter: opacity(1);
	pointer-events: auto;
}
.corner-left > div:hover {
	cursor: help;
	text-decoration: underline;
}
.info-title {
	font-weight: 700;
}
.corner-right {
	@include mobile {
		filter: opacity(0.8);
		pointer-events: none;
	}
	position: absolute;
	right: 0.8rem;
	bottom: 0.5rem;
	padding-right: 0.5em !important;
	border-right: solid 0.1em rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	filter: opacity(0.75);
	font-family: 'IBM Plex Sans';
	font-family: 'IBM Plex Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	text-align: right;
	transition: all 0.25s ease-in-out;
}
.corner-right:hover {
	filter: opacity(1);
}
.corner-right > span > .link:hover {
	cursor: pointer;
	text-decoration: underline;
}
